* {
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk;
    box-sizing: border-box;
}

body {
    background-color: #ECF2FF;

}

.container {
    background-color: #FFFFFF;
    border-radius: 32px;
}

.part1 {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    border-radius: 0 0 32px 32px;
}

.part1>h1 {
    color: #ffffff9a;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 24px;
}

.result {
    width: 140px;
    height: 140px;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
    border-radius: 50%;
    margin: 0 auto;
}

.circle {
    margin: 24px;
}

.result h1 {
    padding-top: 10px;
    color: #fff;
    text-align: center;
}

.result p {
    color: #ffffff7d;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.result-text {
    color: #fff;
    margin-top: 24px;
    width: 80%;
    margin: 0 auto;
}

.result-text h1 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: center;
}

.result-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff9a;
    padding-bottom: 32px;
}

.part2 {
    padding: 5%;
}


.part2>h1 {
    color: #303B59;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 20px;
    cursor: pointer;
}

.part2>h1:hover {
    text-decoration: underline;
}

li {
    display: flex;
    justify-content: space-between;
    line-height: 23.45px;
    border-radius: 12px;
    list-style: none;
    margin-bottom: 10px;
}

.names {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}

.names h4 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    /* padding: 10px; */
    cursor: pointer;
}
.score{
    align-self: center;
}
.names h4:hover {
    text-decoration: underline;
}

.score {
    padding-right: 5%;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: right;
    color: #303b5996;
}

.score span {
    color: #303B59;
}

.reaction {
    background: #ff55550e;
    color: #FF5555;
}

.memory {
    background: #ffb01e0d;
    color: #FFB21E;
}

.verbal {
    background: #00bb8f0e;
    color: #00BB8F;
}

.visual {
    background: #1125d60c;
    color: #1125D6;
}

button {
    background: #303B59;
    border-style: none;
    height: 56px;
    border-radius: 128px;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:736px) {
    body {
        margin: 2vw 40vh;
    }

    .container {
        display: flex;
        width: 736px;
        height: 512px;
    }

    .part1 {
        border-radius: 32px;
        width: 50%;
        height: 512px;
    }

    .part1 h1 {
        font-family: Hanken Grotesk;
        font-size: 24px;
        font-weight: 700;

    }

    .result {
        width: 200px;
        height: 200px;
    }

    .result h1 {

        font-size: 62px;
    }

    .result p {
        font-size: 24px;
    }

    .result-text h1 {
        font-size: 32px;
        padding-top: 40px;
    }

    .result-text p {
        width: 80%;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        margin: auto;
        padding-top: 30px;
    }

    ul {
        width: 100%;
    }

    li {
        margin: 30px 0;
    }
    .names h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        /* padding: 10px; */

    }

    .score {
        align-self: center;
    }

    .part2 {
        width: 50%;
    }

    .part2 h1 {
        font-size: 32px;
        font-weight: 500;
        line-height: 23px;
    }

    .attribution {
        margin-top: 20px;
    }
}

/* 
@media(min-width:1440px) {

    .part1>h1 {
        font-size: 38px;
        font-weight: 700;
    }

    .result {
        width: 200px;
        height: 200px;
    }

    .result-text h1 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1px;
    }

    .result-text p {
        font-size: 32px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .result h1 {
        padding-top: 20px;
        font-size: 54px;
    }

    li,
    .reaction h4,
    .verbal h4,
    .visual h4,
    .memory h4 {
        font-size: 32px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .names img {
        padding-left: 30px;
        height: 32px;
    }
} */